* {
    margin: 0;
    pad: 0;
}
body {
    background-color: #708090;
}

h1 {
    text-align: center;
    font-size: 50px;
}

.navbar {
    width: 100%;
    background-color: #ffff00;
    position: fixed;
    top: 0%;
}

ul {

}