* {
    margin: 0;
    pad: 0;
    margin-bottom: 20px;
}

body {
    background-color: #708090;
    margin-top: 50px;
}

.header-image {
    width: 100%;
    height: auto;
}

.entre1 {
    width: 35%;
    height: auto;
    margin-left: 32%;
}

.entre2 {
    width: 25%;
    height: auto;
    margin-left: 37%;
}

h1 {
    text-align: center;
    font-size: 65px;
}

h2 {
    text-align: center;
    font-size: 45px;
} 

.followup {
    text-align: center;
}

.top-caption {
    text-align: center;
    font-style: italic;
}

.tagline {
    text-align: center;
    font-style: italic;
}

.navbar {
    width: 100%;
    height: 45px;
    background-color: #ffff00;
    position: fixed;
    top: 0%;
}

.navbar ul {
    list-style-type: none;
    padding-right: 25px;
    padding-left: 25px;
    overflow: hidden;
    float: right;
    display: inline-flex 
}

a {
    text-decoration: none;
    color: #3e0460;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 25px;
    padding-left: 25px;
    

}

a:hover {
    text-transform: uppercase;
    font-size: larger;
    transition: all .3s ease-in-out;
    background-color: #3e0460;
    color: #fff;
    cursor: pointer;
}
