* {
    margin: 0;
    pad: 0;
}
body {
    background-color: #708090;
    margin-top: 60px;
}

h1 {
    text-align: center;
    font-size: 50px;
}

.navbar {
    width: 100%;
    background-color: #ffff00;
    position: fixed;
    top: 0%;
}

ul {
    list-style-type: none;
    margin: 5px;
    overflow: hidden;
}
/* Trying to move the nav item to the right, and horizontal  */
li {
    align-items: right;
}